@font-face {
	font-display: swap;
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	src: local('Raleway'),
		 url(../fonts/Raleway-Regular.woff2) format('woff2'),
		 url(../fonts/raleway/static/Raleway-Regular.ttf) format('truetype');
}
@font-face {
	font-display: swap;
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 600;
	src: local('Raleway'),
		 url(../fonts/Raleway-SemiBold.woff2) format('woff2'),
		 url(../fonts/raleway/static/Raleway-SemiBold.ttf) format('truetype');
}

:root {
	--gray-100: #111;
	--gray-150: #222;
	--gray-200: #333;
	--gray-300: #444;
	--gray-500: #777;
	--gray-700: #aaa;
	--gray-800: #ccc;
	--gray-850: #ddd;
	--gray-900: #eee;

	--green-900: #e6ffea;
	--green-850: #b0fdc3;
	--green-800: #7bfba4;
	--green-700: #41ef93;
	--green-600: #21db8f;
	--green-500: #0fbf87;
	--green-400: #069b75;
	--green-300: #02725b;
	--green-200: #00483b;
	--green-100: #00241e;

	--lime-900: #ffffcc;
	--lime-850: #fafda8;
	--lime-800: #f2fb84;
	--lime-700: #d9ef5b;
	--lime-600: #bbdb42;
	--lime-500: #9abf30;
	--lime-400: #789b23;
	--lime-300: #567218;
	--lime-200: #35480f;
	--lime-100: #1a2407;

	--yellow-900: #fffbe6;
	--yellow-850: #fcebaf;
	--yellow-800: #f9d57a;
	--yellow-700: #f0ab41;
	--yellow-600: #e18421;
	--yellow-500: #cb6310;
	--yellow-400: #ac4806;
	--yellow-300: #853202;
	--yellow-200: #5b1f00;
	--yellow-100: #331100;

	--red-900: #ffe6e6;
	--red-850: #fcafb2;
	--red-800: #f97a84;
	--red-700: #f0415c;
	--red-600: #e1214a;
	--red-500: #cb1040;
	--red-400: #ac0636;
	--red-300: #85022b;
	--red-200: #5b001e;
	--red-100: #330011;

	--blue-900: #e6fbff;
	--blue-850: #afe9fc;
	--blue-800: #7ad0f9;
	--blue-700: #419ef0;
	--blue-600: #2170e1;
	--blue-500: #104bcb;
	--blue-400: #0630ac;
	--blue-300: #021d85;
	--blue-200: #00115b;
	--blue-100: #000833;




	--rose-100:rgb(70, 0, 34);
	--red-100:rgb(73, 0, 19);
	--orange-100:rgb(72, 1, 0);
	--yellow-100:rgb(50, 30, 0);
	--lime-100:rgb(0, 44, 0);
	--green-100:rgb(0, 48, 35);
	--blue-100:rgb(14, 24, 86);
	--purple-100:rgb(47, 9, 75);
	--rose-200:rgb(119, 0, 59);
	--red-200:rgb(129, 0, 38);
	--orange-200:rgb(135, 26, 0);
	--yellow-200:rgb(103, 67, 0);
	--lime-200:rgb(1, 89, 0);
	--green-200:rgb(0, 85, 61);
	--blue-200:rgb(21, 41, 138);
	--purple-200:rgb(75, 16, 123);
	--rose-300:rgb(167, 0, 82);
	--red-300:rgb(181, 0, 57);
	--orange-300:rgb(193, 58, 0);
	--yellow-300:rgb(154, 104, 0);
	--lime-300:rgb(41, 131, 0);
	--green-300:rgb(0, 122, 85);
	--blue-300:rgb(26, 63, 187);
	--purple-300:rgb(103, 33, 169);
	--rose-400:rgb(209, 21, 105);
	--red-400:rgb(227, 40, 77);
	--orange-400:rgb(241, 93, 0);
	--yellow-400:rgb(200, 138, 0);
	--lime-400:rgb(80, 169, 0);
	--green-400:rgb(0, 156, 108);
	--blue-400:rgb(33, 91, 229);
	--purple-400:rgb(128, 59, 210);
	--rose-500:rgb(245, 66, 127);
	--red-500:rgb(255, 81, 100);
	--orange-500:rgb(255, 129, 0);
	--yellow-500:rgb(237, 169, 0);
	--lime-500:rgb(119, 200, 0);
	--green-500:rgb(0, 187, 131);
	--blue-500:rgb(50, 123, 255);
	--purple-500:rgb(151, 92, 244);
	--rose-600:rgb(255, 108, 152);
	--red-600:rgb(255, 122, 126);
	--orange-600:rgb(255, 165, 28);
	--yellow-600:rgb(255, 196, 0);
	--lime-600:rgb(157, 225, 65);
	--green-600:rgb(0, 213, 155);
	--blue-600:rgb(79, 157, 255);
	--purple-600:rgb(173, 129, 255);
	--rose-700:rgb(255, 151, 178);
	--red-700:rgb(255, 163, 158);
	--orange-700:rgb(255, 198, 106);
	--yellow-700:rgb(255, 220, 81);
	--lime-700:rgb(192, 244, 121);
	--green-700:rgb(46, 235, 181);
	--blue-700:rgb(120, 190, 255);
	--purple-700:rgb(196, 167, 255);
	--rose-800:rgb(255, 195, 208);
	--red-800:rgb(255, 203, 194);
	--orange-800:rgb(255, 226, 165);
	--yellow-800:rgb(255, 239, 156);
	--lime-800:rgb(222, 255, 173);
	--green-800:rgb(151, 251, 210);
	--blue-800:rgb(170, 223, 255);
	--purple-800:rgb(220, 206, 255);
	--rose-900:rgb(255, 237, 241);
	--red-900:rgb(255, 240, 233);
	--orange-900:rgb(255, 247, 219);
	--yellow-900:rgb(255, 251, 216);
	--lime-900:rgb(246, 255, 223);
	--green-900:rgb(221, 255, 242);
	--blue-900:rgb(227, 252, 255);
	--purple-900:rgb(248, 245, 255);


	--dark: var(--gray-100);
	--light: white;

	--text-light: var(--gray-300);

	--primary-dark: var(--blue-300);
	--primary: var(--blue-400);
	--primary-light: var(--green-500);
	--secondary: #e54a4a;

	--background: var(--gray-900);
	--foreground: var(--gray-100);

	--link-color: var(--gray-700);
	--link-color-hover: var(--foreground);

	--line-height: 1.6rem;

	--alert-shadow: 0 0.5rem 2rem;
	--border-radius: 0.3rem;

	--alert-warning-background: var(--yellow-850);
	--alert-warning-border: var(--yellow-700);
	--alert-warning-color: var(--yellow-600);

	--alert-error-background: var(--red-900);
	--alert-error-border: var(--red-800);
	--alert-error-color: var(--red-700);

	--button-background: var(--foreground);
	--button-border: 0;

	--icon-size: 1.4rem;

	--input-background-disabled: var(--background);
	--input-background-highlight: var(--gray-800);
	--input-background-invalid: var(--red-900);
	--input-background: var(--gray-850);
	--input-border-disabled: 1px solid var(--gray-800);
	--input-border-invalid: 1px solid var(--red-700);
	--input-border: 1px solid var(--background);
	--input-color-disabled: var(--gray-600);
	--input-color-highlight: var(--foreground);
	--input-height: 2.6rem;
	--input-padding-y: 0.8rem;
	--input-padding: var(--input-padding-y) 1rem;
	--input-shadow-focus: 0 0 0 var(--input-shadow-size) var(--gray-850);
	--input-shadow-invalid: 0 0 0 var(--input-shadow-size) var(--red-850);
	--input-shadow-size: 0.2rem;

	--input-control-width: 2.5rem;

	--radio-check-inside-color: var(--foreground);
	--radio-check-outside-color: var(--background);

	--separator: 1px solid var(--gray-800);

	--transition: 0.3s;

	font-size: 16px;
}

.dark {
	--background: var(--gray-100);
	--foreground: var(--gray-900);

	--text-light: var(--gray-700);

	--alert-error-background: var(--red-100);
	--alert-error-border: var(--red-300);
	--alert-error-color: var(--red-700);

	--button-background: var(--input-background);
	--button-border: 0; /*1px solid var(--foreground);*/

	--input-background-disabled: var(--input-background);
	--input-background-highlight: var(--gray-300);
	--input-background-invalid: var(--red-200);
	--input-background: var(--gray-150);
	--input-border: 1px solid var(--background);
	--input-border-disabled: 1px solid var(--gray-800);
	--input-border-invalid: 1px solid var(--red-500);
	--input-color-disabled: var(--gray-300);
	--input-color-highlight: var(--foreground);
	--input-color: var(--gray-700);
	--input-shadow-focus: 0 0 0 var(--input-shadow-size) var(--gray-300);
	--input-shadow-invalid: 0 0 0 var(--input-shadow-size) var(--red-400);

	--radio-check-inside-color: var(--background);
	--radio-check-outside-color: var(--foreground);

	--separator: 1px solid var(--gray-300);

	--outline-fill: var(--foreground);
}

* { box-sizing: border-box; }

html {
	height: 100%;
	scrollbar-color: var(--foreground) var(--background);
}

html,
body {
	background-color: var(--background);
	border: 0;
	color: var(--foreground);
	line-height: var(--line-height);
	margin: 0;
	min-height: 100%;
	padding: 0;
}

body, button, input, textarea {
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	font-weight: 400;
}

section { clear: both; }

hr { border: 0; border-top: var(--separator); }
h1 { font-size: 3rem; font-weight: normal; line-height: 3rem; }
a { color: var(--foreground); font-weight: 600; text-decoration: none; }
a:hover { color: var(--gray-500); }
img.responsive { width: 100%; }

div.dark { background-color: var(--dark); color: var(--light); }

.container { margin-left: auto; margin-right: auto; }
.uni > * { width: 100%; }
.dual, .tria, .quad { white-space: nowrap; }
.dual > *, .tria > *, .quad > * { float: left; white-space: normal; }
.uni:after, .dual:after, .tria:after, .quad:after {
	content: '';
	display: table;
	clear: both;
}

.center { margin-left: auto; margin-right: auto; }
.hidden { display: none !important; }
.block { display: block; }
.padded { padding: 0 2rem; }

.light { color: var(--text-light); }
.text-bold { font-weight: bold; }
.text-center { text-align: center; }
.text-justify { text-align: justify; }
.w-50 { display: inline-block; width: 50% !important; }
.w-100 { width: 100% !important; }

.label {
	background-color: var(--gray-800);
	border-radius: var(--border-radius);
	color: var(--gray-300);
	font-size: 0.6rem;
	padding: 0.2rem;
}
.label.green { background-color: var(--green-900); color: var(--green-300); }
.dark .label.green { background-color: var(--green-200); color: var(--green-850); }
.label.red { background-color: var(--red-900); color: var(--red-300); }
.dark .label.red { background-color: var(--red-300); color: var(--red-900); }

table {
	border-collapse: separate;
	border-spacing: 0;
	border: var(--input-border);
	border-radius: var(--border-radius);
	overflow: hidden;
}
table td {
	padding: var(--input-padding);
	border-bottom: var(--input-border);
}
table tr:last-child > td { border-bottom: none; }

.button,
button,
input[type="submit"] {
	background-color: var(--button-background);
	border: var(--button-border);
	border-radius: var(--border-radius);
	color: var(--light);
	cursor: pointer;
	display: inline-block;
	font-weight: 700;
	height: calc(1rem + 2 * var(--input-padding-y));
	line-height: 1rem;
	padding: var(--input-padding);
	outline: unset !important;
	text-align: center;
	text-decoration: none;
	transition: all var(--transition);
}

.button:hover,
button:hover,
input[type="submit"]:hover {
	background-color: var(--gray-300);
}

.button.big,
button.big,
input[type="submit"].big {
	font-size: 1rem;
	height: unset;
	padding: 1.5rem 2rem;
}

.button.primary,       button.primary       { background-color: var(--primary); }
.button.primary:hover, button:hover.primary { background-color: var(--primary-light); }
.button.blue,          button.blue          { background-color: var(--blue-500); }
.button.blue:hover,    button:hover.blue    { background-color: var(--blue-600); }
.button.green,         button.green         { background-color: var(--green-500); }
.button.green:hover,   button:hover.green   { background-color: var(--green-600); }
.button.lime,          button.lime          { background-color: var(--lime-500); }
.button.lime:hover,    button:hover.lime    { background-color: var(--lime-600); }
.button.red,           button.red           { background-color: var(--red-500); }
.button.red:hover,     button:hover.red     { background-color: var(--red-600); }
.button.yellow,        button.yellow        { background-color: var(--yellow-500); }
.button.yellow:hover,  button:hover.yellow  { background-color: var(--yellow-600); }
.button.white,         button.white         { background-color: var(--gray-850); color: var(--dark); }
.button.white:hover,   button:hover.white   { background-color: var(--gray-700); }

svg.outline {
	--outline-fill: none;
	height: var(--icon-size);
	margin-top: -0.15rem;
	stroke-width: 2;
	stroke: var(--foreground);
	vertical-align: middle;
	width: var(--icon-size);
}
svg.outline.fill { --outline-fill: var(--foreground); }
svg.outline.dark { stroke: var(--dark); }

/*
 * Forms
 */

fieldset, .group {
	border: 0;
}
fieldset {
	border: 0;
	margin: 1rem 0;
	padding: 0;
}

form label {
	display: block;
	font-weight: 500;
	margin-bottom: 0.5rem;
}

form textarea,
form select,
form input[type="email"],
form input[type="number"],
form input[type="tel"],
form input[type="text"] {
	appearance: none;
	background: var(--input-background);
	border: var(--input-border);
	border-radius: var(--border-radius);
	color: var(--input-color);
	line-height: 1;
	overflow: hidden;
	outline: none;
	padding: var(--input-padding);
	transition: all var(--transition), padding 0s;
	width: 100%;
}

/* Focused/active input */
form input:active,
form input:focus,
form textarea:active,
form textarea:focus {
	box-shadow: var(--input-shadow-focus);
	color: var(--foreground);
}
/* Invalid inputs */
form input:focus:invalid,
form input.invalid,
form textarea:focus:invalid,
form textarea.invalid {
	background: var(--input-background-invalid);
	border: var(--input-border-invalid);
	box-shadow: var(--input-shadow-invalid);
}

form input:disabled,
form textarea:disabled {
	background: var(--input-background-disabled);
	border: var(--input-border-disabled);
	color: var(--input-color-disabled);
}

/*
 * Form - Number
 */

/* form div.group.number div {
	border-radius: var(--border-radius);
	display: flex;
	overflow: clip;
	padding: 0;
} */
form .group.number > div { padding: 0; position: relative; }

form .group.number button {
	background: var(--input-background);
	border-radius: var(--border-radius);
	border: var(--input-border);
	color: unset;
	font-size: 2em;
	font-weight: normal;
	height: 100%;
	padding: 0;
	position: absolute;
	top: 0;
	width: var(--input-control-width);
}
form .group.number button:first-of-type {
	border-top-right-radius: unset;
	border-bottom-right-radius: unset;
	left: 0;
}
form .group.number button:last-of-type {
	border-top-left-radius: unset;
	border-bottom-left-radius: unset;
	right: 0;
}
/* form div.group.number > div > input:focus + button,
form div.group.number > div > input:focus ~ button {
	border: var(--input-border-focus);
} */
form .group.number > div > input:invalid + button,
form .group.number > div > input:invalid ~ button {
	border: var(--input-border-invalid);
}
form .group.number button:hover {
	background-color: var(--input-background-highlight);
	color: var(--input-color-highlight);
}
/* form div.group.number > div > input {
	min-width: 0;
	flex: 1;
} */

form .group.number > div > input.hide-controls {
	-moz-appearance: textfield;
	-webkit-appearance: none;
	appearance: textfield;
	padding-left: calc(var(--input-control-width) + 1rem);
	padding-right: calc(var(--input-control-width) + 1rem);
}

/*
 * Form - Checkbox
 */

form div.group.checkbox label { display: inline-block; }

/*
 * Form - Dropdown
 */

form div.group.dropdown { position: relative; }
form div.group.dropdown > select {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	padding-right: var(--input-control-width);
}
form div.group.dropdown::after {
	border-bottom: 0;
	border-left: .3em solid transparent;
	border-right: .3em solid transparent;
	border-top: .3em solid;
	content: "";
	display: inline-block;
	margin-top: 1rem;
	position: absolute;
	right: 1rem;
}
form div.group.dropdown > div {
	position: absolute;
}


/*
 * Form - Radio
 */

form .group.radio input[type="radio"] {
	cursor: pointer;
	height: 0;
	opacity: 0;
	position: absolute;
	width: 0;
}
form .group.radio {
	border: var(--input-border);
	border-radius: var(--border-radius);
	overflow: hidden;
	padding: 0;
}
form .group.radio label {
	background-color: var(--input-background);
	border-bottom: var(--input-border);
	cursor: pointer;
	display: block;
	line-height: 1rem;
	margin: 0;
	padding: 0.5rem 1rem;
	position: relative;
	transition: all var(--transition);
	width: 100%;
}
form .group.radio input[type="radio"]:checked + label {
	background-color: var(--input-background-highlight);
	color: var(--input-color-highlight);
}
form .group.radio input[type="radio"]:disabled + label {
	background-color: var(--input-background-disabled);
	color: var(--input-color-disabled);
}
form .group.radio label:last-of-type { border: 0; }
form .group.radio.with-check label { padding-left: 3rem; }
form .group.radio.with-check label::before {
	background: white;
	border-radius: 100%;
	border: 1px solid var(--gray-850);
	content: '';
	display: inline-block;
	height: 0.8rem;
	margin-left: -2rem;
	margin-right: 1rem;
	position: absolute;
	top: calc(50% - 0.4rem);
	transition: all var(--transition);
	width: 0.8rem;
}
/* form div.group.radio.with-check input:checked + label::before {
	background: var(--green-700);
	border-color: var(--green-400);
	box-shadow: inset 0 0 0 0.2rem var(--green-400);
} */
form .group.radio.with-check input:checked + label::before {
	background: var(--radio-check-inside-color);
	border-color: var(--radio-check-outside-color);
	box-shadow: inset 0 0 0 0.2rem var(--radio-check-outside-color);
}

.alert {
	background-color: var(--gray-900);
	border-radius: var(--border-radius);
	border-left: 5px solid var(--gray-700);
	color: var(--gray-300);
	display: block;
	margin: 1rem 0;
	padding: 1rem 2rem;
	transition: all 0.3s;
}
.alert > div {
	border-left: 1px solid;
	display: inline-block;
	margin-left: 1rem;
	padding-left: 1rem;
	vertical-align: middle;
	width: calc(100% - 3rem);
}
.alert.hidden {
	height: 0;
	margin: 0;
	opacity: 0;
	padding-bottom: 0;
	padding-top:0;
}
.alert .outline {
	display: inline-block;
	height: 1rem;
	margin-top: unset;
	width: 1rem;
}
.alert.success {
	background: linear-gradient(#cdff9b, #abeca9);
	color: #198020;
}
.alert.success > div { border-left-color: #198020; }
.alert.success .outline { stroke: #198020; }

.alert.warning {
	background: var(--alert-warning-background);
	border-left-color: var(--alert-warning-border);
	color: var(--alert-warning-color);
}
.alert.error {
	background: var(--alert-error-background);
	border-left-color: var(--alert-error-border);
	color: var(--alert-error-color);
}
.alert.error .outline { stroke: var(--alert-error-color); }
.alert.error > div { border-left-color: var(--alert-error-color); }

.badge {
	background-color: var(--foreground);
	border-radius: 1em;
	color: var(--background);
	font-weight: bold;
	line-height: 140%;
	padding: 0 0.5rem;
}

.separator {
	border-top: var(--separator);
	color: var(--foreground);
	height: 0;
	margin: 2rem 0;
	text-align: center;
}

.separator > span {
	background-color: var(--background);
	display: inline-block;
	margin-top: -2rem;
	padding: 0 1rem;
	vertical-align: middle;
}

.modal {
	background-color: var(--foreground);
	border-radius: var(--border-radius);
	box-shadow: 0 10px 30px;
	color: var(--background);
	left: 0;
	margin: 1rem;
	padding: 2rem;
	position: absolute;
	top: 5rem;
	width: calc(100% - 2rem);
	z-index: 100;
}

/* Phones */
@media screen and (max-width: 600px) {
	.container { width: 100%; }
	.dual > *, .tria > *, .quad > * { width: 100%; }
}

/* Tablets */
@media screen and (min-width: 600px) and (max-width: 992px) {
	.dual > *, .tria > *, .quad > * { width: 100%; }
}

/* Desktop */
@media screen and (min-width: 992px) {
	.container { width: 992px; }
	.padded { padding: 0 3rem; }

	.dual > * { width: 50%; }
	.tria > * { width: 33.33%; }
	.quad > * { width: 25%; }

	/* Forms */
	form .dual > *,
	form .tria > * { padding-left: 0.5rem; padding-right: 0.5rem; }
	form .dual > *:first-child,
	form .tria > *:first-child { padding-left: 0; }
	form .dual > *:last-child,
	form .tria > *:last-child { padding-right: 0; }

	.dual.spaced > div,
	.tria.spaced > div,
	.quad.spaced > div { padding: 0 3rem; }

	.dual.spaced > div:first-child,
	.tria.spaced > div:first-child,
	.quad.spaced > div:first-child { padding-left: 0; }

	.dual.spaced > div:last-child,
	.tria.spaced > div:last-child,
	.quad.spaced > div:last-child { padding-right: 0; }

	.modal {
		left: calc(50% - 300px);
		max-width: 600px;
		top: 8rem;
	}
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	/* .uni > div, .dual > div, .tria > div, .quad > div { width: 100%; } */
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

@media only screen and (max-width: 992px) {
	.responsive { widtH: 100%; }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.container { width: 992px; }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
