/* Show menu on mouse over when no JS. */
nav.nojs:hover > ul,
nav.toggled > ul { display: block; }

/* Darken menu when hovered. */
nav:hover > .trigger,
nav.toggled > .trigger { background-color: var(--background); }

nav > .trigger {
	display: block;
	line-height: 2rem;
	padding: 2rem;
	text-align: left;
}
nav .trigger .outline {
	display: inline-block;
	margin-right: 1.375rem;
	stroke: var(--gray-700);
}
nav .trigger:hover .outline { stroke: var(--foreground); }

/* Links in menu. */
nav a {
	display: block;
	padding: 1rem 5rem;
	text-align: left;
}
nav > ul {
	background-color: var(--background);
	display: none;
	padding-bottom: 2rem;
}
/* Submenu */
nav > ul > li > ul {
	border-radius: var(--border-radius);
	height: 0;
	margin: 0 2rem;
	overflow: hidden;
	padding-left: -5rem;
	position: unset;
	transition: height var(--transition);
}
/* nav > ul > li:hover > ul { height: calc(2rem + var(--line-height)); } */
nav > ul > li:hover > ul { height: auto; }
/* Submenu item */
nav > ul > li > ul > li { background-color: var(--gray-150); }
/* Submenu item link */
nav > ul > li > ul > li > a { margin-bottom: 1px; padding: 1rem 3rem; }

footer > div > div:not(div:first-child) { margin-top: 2rem; }
footer a { border-top: 1px solid var(--gray-150); padding: 1rem 0; }