:root {
  --gray-100: #111;
  --gray-300: #444;
  --gray-500: #777;
  --gray-700: #aaa;
  --gray-800: #ccc;
  --gray-850: #ddd;
  --gray-900: #eee;

  /* --primary-dark: #1d463d; */
  --primary-dark: var(--green-300);  #1d463d;
  /* --primary: #25b07c; */
  --primary: var(--green-500);
  --secondary: #e54a4a;

  --background: var(--gray-100);
  --foreground: var(--gray-900);

  --border-radius: 0.3rem;
  --input-shadow-size: 0.2rem;

  --transition: 0.3s;

  --view-desktop: 992px;

  --bubble-left: var(--green-500);
  --bubble-left-color: var(--foreground);
  --bubble-right: var(--green-200);
  --bubble-right-color: var(--foreground);
}

* { box-sizing: border-box; }

section { clear: both; }
h1 { font-size: 3rem; font-weight: normal; }
a { color: var(--gray-700); text-decoration: none; }
a:hover { color: var(--gray-900); }

#photos,
#shop,
#contact { margin-top: 10rem; }
footer { margin-top: 10rem; }

nav {
  background-color: var(--background);
  font-weight: bold;
  position: fixed;
  text-align: center;
  top: 0;
  transition: background-color var(--transition);
  width: 100%;
  z-index: 1;
}
nav.transparent { background-color: transparent; }
nav > ul { list-style-type: none; margin: 0; padding: 0; }

footer .logo {
  height: 2rem;
  margin-bottom: 1rem;
  width: 2rem;
}

#loclathon {
  background-attachment: fixed;
  background-image: url('../img/photo.jpg');
  background-position: center;
  background-repeat: no-repeat;
  min-height: 30rem;
  overflow: hidden;
  padding-bottom: 12rem;
  padding-top: 12rem;
  text-align: center;
}

#loclathon .fade {
  background: linear-gradient(#000, transparent);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20rem;
}
#loclathon .container {
  font-family: 'Bebas Neue', sans-serif;
  text-align: left;
}
#loclathon .btn { margin-top: 10rem; }
#loclathon .btn:hover .outline { transition: all var(--transition); }
#loclathon .btn:hover .outline { stroke: var(--background); }

#loclathon h1,
#loclathon h3,
#loclathon h5 {
  margin: 0;
}

#loclathon h1 { text-shadow: 0.5rem 1rem var(--gray-100); }
#loclathon h3,
#loclathon h5 { text-shadow: 0.2rem 0.5rem var(--gray-100); }

#loclathon h1 { font-size: 8rem; }
#loclathon h3 { font-size: 3rem; }
#loclathon h5 { font-size: 2rem; margin-bottom: 3rem; }

#loclathon .highlight {
  background-color: var(--gray-100);
  display: inline-block;
  font-size: 2rem;
  margin: 1rem auto 0 auto;
  padding: 1rem 2rem;
}

#loclathon .container * { transform: skewY(-3deg); }
#loclathon .logo {
  display: block;
  height: 6rem;
  width: 6rem;
}
#loclathon .btn {
  background-color: var(--red-500);
  border-radius: unset;
  border: 0;
  box-shadow: 0 1rem 3rem var(--gray-100);
  color: var(--gray-900);
  display: inline-block;
  font-weight: bold;
  line-height: 2rem;
  padding: 1rem 2rem;
  text-decoration: none;
  transition: all var(--transition);
}
#loclathon .btn:hover {
    background-color: var(--foreground);
    color: var(--background);
    transform: scale(1.1) skewY(-3deg);
}
#loclathon .btn .gg { margin-left: 0.5rem; }

#locloise > div { height: 50rem; }
#locloise h1 { padding-top: 8rem; }
#locloise #bottle {
  background-image: url('../img/locloise.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
#locloise #buy { margin-top: 3rem; }
#locloise #units { font-weight: bold; }
#locloise #status {
  font-size: 2rem;
  margin-bottom: 3rem;
  margin-top: -2rem;
}

#faq {
  float: unset;
  margin-left: auto;
  margin-right: auto;
}
#faq div span { vertical-align: middle; }
#faq > .right { text-align: right; }
#faq .logo { display: inline-block; }

footer {
  border-top: 1px dotted var(--gray-300);
  font-size: 0.8rem;
  padding: 3rem 0;
}
footer h3 .outline {
  height: 1.4rem;
  margin-left: -2rem;
  margin-top: -0.125rem;
  position: absolute;
  width: 1.4rem;
}
footer a {
  display: block;
  padding: 0.3rem 0;
  margin-right: 2rem;
  transition: padding var(--transition);
}
footer a:hover { padding-left: 0.3rem; }
footer div a:last-of-type { border-bottom: none; }
footer .outline { stroke-width: 1.4; }

.logo {
  background-image: url('../img/logo-outline.svg');
  background-size: cover;
}

.bubble {
  border-radius: 0.2rem;
	position: relative;
  display: inline-block;
  margin: 0.5rem;
  max-width: calc(100% - 4rem);
  padding: 1rem 2rem;
}
.left > .bubble {
  background: var(--bubble-left);
  color: var(--bubble-left-color);
  font-weight: bold;
}
.left > .bubble:after {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: tranparent;
	border-right-color: var(--bubble-left);
	border-width: 10px;
	margin-top: -10px;
}
.right > .bubble {
  background: var(--bubble-right);
  color: var(--bubble-right-color);
}
.right > .bubble:after {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: transparent;
	border-left-color: var(--bubble-right);
	border-width: 10px;
	margin-top: -10px;
}

.right > .logo {
  margin-left: 1rem;
  width: 2rem;
  height: 2rem;
}

/* Phones */
@media screen and (max-width: 600px) {
  .uni > div, .dual > div, .tria > div, .quad > div { width: 100%; }

  .modal .dialog {
    height: 100%;
    left: 0;
    margin-left: unset;
    top: 0;
    width: 100%;
  }

  nav { background-color: var(--background); }
  nav .separator { display: none; }
  nav .trigger { display: block; vertical-align: middle; }
  nav .menu { display: none; overflow: hidden; text-align: left; }
  nav .menu a { display: block; padding: 1rem 0rem 1rem 5rem; }
  nav .menu a:last-child { margin-bottom: 2rem; }
  nav:hover div.menu { display: block; }

  #locloise .highlight { display: block; }

  footer { padding-left: 3rem; }
}

/* Tablets */
@media screen and (min-width: 600px) and (max-width: 992px) {
  .uni > div, .dual > div, .tria > div { width: 100%; }
  .quad > div { width: 25%; }
}

/* Phones and tablets */
@media screen and (max-width: 992px) {
  .container { width: 100%; }

  #loclathon { padding: 10rem auto; }
  #loclathon h1 { font-size: 14vw !important; }
  #loclathon h3 { font-size: 8vw !important; }
  #loclathon h5 { font-size: 6vw !important; }
  #loclathon .highlight { font-size: 6vw; }

  #loclathon h1 { text-shadow: 1vw 2vw var(--gray-100); }
  #loclathon h3,
  #loclathon h5 { text-shadow: 0.5vw 1vw var(--gray-100); }
}

/* Desktop */
@media screen and (min-width: 992px) {
  .container { width: 992px; }

  .uni > div { width: 100%; }
  .dual > div { width: 50%; }
  .tria > div { width: 33.33%; }
  .quad > div { width: 25%; }

  .padded { padding: 3rem; }

  form .dual > div,
  form .tria > div { padding-left: 0.5rem; padding-right: 0.5rem; }
  form .dual > div:first-child,
  form .tria > div:first-child { padding-left: 0; }
  form .dual > div:last-child,
  form .tria > div:last-child { padding-right: 0; }

  #faq { width: 80%; }
}
