RewriteEngine On

# Api
RewriteRule * api.php
RewriteRule ^buy$ api.php
RewriteRule ^price$ api.php
RewriteRule ^units$ api.php

# Exceptions
RewriteRule ^email.html$ email.html

# Redirect everything else.
RewriteCond $1 !^(api.php)
RewriteRule ^(.*)$ / [R=302,NC,L]
