RewriteEngine On

# Api
RewriteRule ^buy?$ api.php
RewriteRule ^units?$ api.php

# Exceptions
RewriteRule ^confirm.html$ confirm.html

# Redirect everything else.
RewriteCond $1 !^(api.php)
RewriteRule ^(.*)$ https://loclathon.ch [L]
